<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
						http://www.springframework.org/schema/beans/spring-beans.xsd">
	<bean id="fixDao" class="postProcessBean.FixDepositDaoImpl" />
	<!-- 后处理器不需要bean id因为不需要进行依赖,其只是对目标bean的实例化增强 -->
	<bean class="postProcessBean.InstanceValidationBeanPostProcessor" />
	
</beans>