<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
						http://www.springframework.org/schema/beans/spring-beans.xsd">
	<!-- use id"bread" to generate Bread Object -->
	<bean id="cheeseBread" class="inter.CheeseBread"></bean>
	
	<bean id="male" class="inter.Male">
		<property name="bread" ref="cheeseBread"></property>
	</bean>
	
</beans>