<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <listener>
  	<listener-class>servletdemo.ContextAttrListener</listener-class>
  </listener>
  <!-- http://localhost:9999/demo/ 主站地址默认页面 -->
  <welcome-file-list>
  	<welcome-file>welcome.jsp</welcome-file>
  </welcome-file-list>
</web-app>
